#weather
    padding: 70px 0
    background-image: url(https://www.infoplease.com/sites/infoplease.com/files/inline-images/planet_earth_world_satellite_image_mural_lg__67844.1560514766%281%29_0.jpg)
    background-position: center center
    background-size: cover
    background-repeat: no repeat
    height: 800px
    .box
        height: 450px
        width: 500px
        color: #ffffff
        background-color: #1d42b1
        border-radius: 20px
        .data
            h1,h2
                margin: 20px 0
                font-size: 25px
                font-style: italic
            input
                border: 3px solid #f9cf46
                padding: 5px 10px
                border-radius: 20px
    ul
        display: flex
        justify-content: space-around
        align-items: flex-end
        margin-top: 45px
        .icon
            color: #ffff
            font-size: 40px
    .btn
        margin-top: 10px
        background-color: #f1d524
        padding: 10px
        color: #ffff
        border-radius: 20px
        &:hover
            text-decoration: underline
            font-weight: 700
